<app-back></app-back>
<div class="ui segment" *ngIf="loading">
    <div class="ui active dimmer">
      <div class="ui loader text massive">
        <div class="">Loading..</div>
      </div>
    </div>
    <img class="ui wireframe image" src="/assets/short-paragraph.png">
    <img class="ui wireframe image" src="/assets/short-paragraph.png">
    <img class="ui wireframe image" src="/assets/short-paragraph.png">
</div>

<div *ngIf="error">
  <div class="ui container text">
    {{ error }}
  </div>
</div>
  
<div *ngIf="!loading && !error">
  <div class="ui piled segments">
      <div class="ui horizontal segments">
          <div class="ui segment">
            <p>adds per commit: {{ stats.addsPerCommit }}</p>
          </div>
          <div class="ui segment">
            <p>deletes per commit: {{ stats.deletesPerCommit }}</p>
          </div>
      </div>
  </div>
  <div class="ui segment">
    <table class="ui bottom attached table">
      <thead>
        <tr><th>Contributor</th>
        <th>Additions</th>
        <th>Deletes</th>
        <th>Commits</th>
        <th>Team</th>
      </tr></thead>
      <tbody>
        <tr *ngFor="let contributor of stats.contributors">
          <td><a [href]="contributor.url" target="_blank">{{ contributor.name }}</a></td>
          <td>{{ contributor.percentage.additions }}%</td>
          <td>{{ contributor.percentage.deletes }}%</td>
          <td>{{ contributor.percentage.commits }}%</td>
          <td>
              <div (click)="toggleTeamMember(contributor)" class="ui fitted toggle checkbox">
                <input type="checkbox" tabindex="0" class="hidden" [checked]="contributor.teamMember"> <label></label>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ui segment">
    <table class="ui bottom attached table">
      <thead>
        <tr><th>Title</th>
        <th>Author</th>
        <th>Open for</th>
        <th>Link</th>
      </tr></thead>
      <tbody>
        <tr *ngFor="let stat of branches">
          <td>{{ stat.title }}</td>
          <td>{{ stat.author }}</td>
          <td>{{ stat.open_for }}</td>
          <td><a class="ui button" [href]="stat.url">Show</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script>
$('.ui.checkbox').checkbox();
</script>