<app-search-repository [organisation]="organisationName" (results)="searchCompleted($event)"></app-search-repository>

<div class="ui container text" *ngIf="error"><p>{{ error }}</p></div>
<div class="ui two column grid">
  <div *ngFor="let repo of repositories" class="column">
    <div class="ui card fluid">
      <div class="content">
        <div class="header">
          <a href="{{ repo.url }}">{{ repo.name }}</a>
        </div>
        <div class="meta">
          Repository
        </div>
        <div class="description">
          {{ repo.description }}
        </div>
      </div>
      <div class="extra content">
        <div class="ui button" [routerLink]="['/org', organisationName, 'repo', repo.name]">Check stats</div>
        <app-add-team-repo-button [repositoryName]="repo.name">Add to team</app-add-team-repo-button>
      </div>
    </div>
  </div>
</div>

<app-back></app-back>
