<app-back></app-back>
<div class="ui segment" *ngIf="loading">
    <div class="ui active dimmer">
      <div class="ui loader text massive">
        <div class="">Loading..</div>
      </div>
    </div>
    <img class="ui wireframe image" src="/assets/short-paragraph.png">
    <img class="ui wireframe image" src="/assets/short-paragraph.png">
    <img class="ui wireframe image" src="/assets/short-paragraph.png">
</div>

<div *ngIf="error" class="error">
  <div class="ui container text">
    {{ error }}
  </div>
</div>
  
<div *ngIf="!loading && !error">
  <div class="ui two column container grid">
    <div class="row">
      <div class="column">
          <app-pull-request-stats title="Largest PRs" [data]="prStats.largestPR"></app-pull-request-stats>
      </div>
      <div class="column">
          <app-pull-request-stats title="Average PR size" [data]="prStats.averagePR"></app-pull-request-stats>
      </div>
    </div>
    <div class="row">
      <div class="column">
          <app-oldest-pull-request-lifetime-stats title="Longest time before PR merge" [data]="prStats.oldestPR"></app-oldest-pull-request-lifetime-stats>
      </div>
      <div class="column">
          <app-pull-request-lifetime-stats title="Average time before PR merge" [data]="prStats.avgPRLifetime"></app-pull-request-lifetime-stats>
      </div>
    </div>
  </div>

  <div class="ui container mv-25">
    <table class="ui bottom attached table">
      <thead>
        <tr><th>Contributor</th>
        <th>Additions</th>
        <th>Deletes</th>
        <th>Commits</th>
      </tr></thead>
      <tbody>
        <tr *ngFor="let contributor of stats.contributors">
          <td><a [href]="contributor.url" target="_blank">{{ contributor.name }}</a></td>
          <td>{{ contributor.percentage.additions }}%</td>
          <td>{{ contributor.percentage.deletes }}%</td>
          <td>{{ contributor.percentage.commits }}%</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="ui container mb-25">
    <h2>Repositories</h2>
    <button class="ui right basic icon button" *ngFor="let repo of repositories" (click)="removeRepository(repo)">
      <i class="remove icon"></i>
      {{ repo }}
    </button>
  </div>
</div>