<div *ngIf="data" class="ui card fluid">
    <div class="content">
      <div class="header">{{ title }}</div>
      <div class="meta">time before close or merge</div>
      <div class="description big"> 
        {{ age.thisWeek | humanize }}<span [class]="'tiny ' + diffState">{{ difference | changeRate }} hours</span>
      </div>
    </div>
    <div [class]="'extra content ' + state">
      <i [class]="icon"></i>
      <span>{{ description }}</span>
    </div>
  </div>
  