<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container" style="padding: 60px 0px">
      <div class="ui text container">
        <h1 class="ui inverted header">
          <a [routerLink]="['/']">Work Work Stats</a>
        </h1>
        <div class="ui">
          <p>Work Work Stats is a simple tool for pulling out your team's performance based on github commits.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe" style="margin-top: 50px">
      <div class="ui middle aligned stackable grid container router-container">
          <router-outlet></router-outlet>
      </div>
  </div>
</div>
