.good, .good > * {
    color: green;
}

.bad, .bad > * {
    color: red;
}

.warning, .warning > * {
    color: orange;
}

.card .description.big {
    font-size: 2.5em;
}

.card .description span.tiny {
    margin-left: 5px;
    font-size: 0.5em;
}