<div class="ui card fluid">
  <div class="content">
    <div class="header">{{ title }}</div>
    <div class="meta">addeed or modified lines / deleted lines, compared to last week</div>
    <div class="description big"> 
      {{ data.thisWeek.additions }}<span [class]="'tiny ' + additions">{{ comparison.additions | changeRate }}</span> / {{ data.thisWeek.deletions }}<span [class]="'tiny ' + deletions">{{ comparison.deletions | changeRate }}</span>
    </div>
  </div>
  <div [class]="'extra content ' + state">
    <i [class]="icon"></i>
    <span>{{ description }}</span>
  </div>
</div>
