<div class="ui fluid container" style="margin-bottom: 25px; flex-grow: 1">
  <div class="ui big icon input fluid" [class.loading]="loading" [class.error]="error">
    <input [formControl]="text" type="text" placeholder="Search...">
    <i class="search icon"></i>
  </div>
</div>

<div *ngIf="error" class="ui container">
  <div class="ui negative message">
    <i class="close icon"></i>
    <div class="header">
      Uh-oh
    </div>
    <p>{{ error }}</p>
  </div>
</div>