/* You can add global styles to this file, and also import other style files */
@import '../node_modules/semantic-ui/dist/semantic.min.css';

/* margin style */
.mt-25 {
    margin-top: 25px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mv-25 {
    margin-bottom: 25px;
    margin-top: 25px;
}