<div *ngIf="hasToken">
  <div *ngIf="hasTeam" class="ui container">
    <button [routerLink]="['/team-stats']" class="ui button">Goto team stats</button>
  </div>
  <div *ngIf="hasTeam" class="ui divider"></div>
  <div class="ui container" *ngIf="organisations">
    <div *ngIf="organisations" class="ui relaxed divided items">
      <div *ngFor="let org of organisations" class="item">
        <img class="ui small image" [src]="org.avatar">
        <div class="content">
          <div class="header">
            {{ org.name }}
          </div>
          <div class="meta">
            Organisation
          </div>
          <div class="description">
            {{ org.description }}
          </div>
        </div>
        <div class="extra content">
          <div class="ui right floated button" [routerLink]="['/org',org.name]">Check stats</div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui divider"></div>

  <div class="ui two column stackable grid container">
    <div class="column">
      <p>Are you missing repositories? If your organisation has to allow this application you can still use a personal
        token to access all your organisations.</p>
    </div>
    <div *ngIf="!loading" class="column">
      <div class="ui action input fluid">
        <input type="password" autocomplete="off" [formControl]="token" placeholder="personal token">
        <button class="ui teal button" (click)="fetchProfile()">
          <i class="add icon"></i>
          Set
        </button>
      </div>
    </div>
    <div *ngIf="loading" class="column">
      <div *ngIf="loading" class="ui active centered inline loader"></div>
    </div>
  </div>
</div>
<div *ngIf="!hasToken">
  <div class="ui stackable two column divided grid container">
    <div class="row">
      <div class="ui column">
        <h2>Welcome to work-work-stats!</h2>
        <p>To use this app you will either have to input a personal access token or log into your github account.</p>
        <p>Where do I get my <a href="https://github.com/settings/tokens">personal access token</a>?</p>
        <button class="ui primary button centered" (click)="login()">
          <span>Login to github <i class="right arrow icon"></i></span>
        </button>
      </div>
      <div class="ui column">
        <div class="ui input fluid">
          <input type="password" [formControl]="token" placeholder="Personal access token...">
        </div>
        <div class="ui primary button centered" [class.disabled]="loading" (click)="fetchProfile()" style="margin-top: 10px">
          <span *ngIf="!loading">Use token <i class="right arrow icon"></i></span>
          <div *ngIf="loading" class="ui active centered inline loader"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="error" class="ui container text">
  <p>{{ error }}</p>
</div>